doctype html
html
  head
    title Animals List
    link(rel="stylesheet" href="styles.css")
  body
    header.header
      h1 #{titolo}
      div.container
        each animale in animal
          a(href=`/api/album-animali?id=${animale.id_figurina}`) 
            p #{animale.razza_animale}
        
